---
layout: default
title: Home
---
<center>
  <h3>Welcome to the website dedicated to the upcoming Besson-Girard wedding</h3>
  <h3>歡迎來到專門介紹 Besson-Girard 婚禮的網站</h3>
  <i><h3>Bienvenue sur le site web dédié au mariage Besson-Girard</h3></i>
</center>
<br><br>

<a href="/reception"><img width="800" src="/assets/img/family.jpg" alt="family"></a>

<center><h2>Link to the live Zoom of our wedding on Friday 15 April 2022 at 3pm (GMT+2): <a href="https://lmu-munich.zoom.us/j/99932731219">CLICK HERE</a></h2></center>
<center><h3>Write us a comment on: <a href="http://wedding.besson-girard.fr/comments">this page</a></h3></center>

<center><h2>2022 年 4 月 15 日星期五 21:00（台灣時間）的婚禮現場直播<a href="https://lmu-munich.zoom.us/j/99932731219">點擊這裡</a></h2></center>
<center><h3>請留下給我們的祝福：<a href="http://wedding.besson-girard.fr/comments">在本頁面</a></h3></center>

<center><h2>Lien Zoom pour le marriage le vendredi 15 avril 2022 à 15h: <a href="https://lmu-munich.zoom.us/j/99932731219">CLIQUEZ ICI</a></h2></center>
<center><h3>Écrivez-nous un commentaire sur: <a href="http://wedding.besson-girard.fr/comments">cette page</a></h3></center>

<!-- {% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}
 -->
<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
